	#sidenav, #sidenav ul { /* all lists */
		padding: 0;
		list-style: none;
		float : left;
		width : 190px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
	margin: 0;
}
	
	#sidenav li { /* all list items */
		position : relative;
		float : left;
		line-height : 1.25em;
		margin-bottom : -1px;
		width: 190px;
}
	
	#sidenav li ul { /* second-level lists */
		position : absolute;
		left: -999em;
		margin-left : 208px;
		margin-top: -19px;
}
	
	
	#sidenav li a {
		width: 190px;
		w\idth : 189px;
		display : block;
		color : #777;
		text-decoration : none;
		background-color:#CCCCCC;
		border : 1px solid #fff;
		padding : 1px 0.5em 1px 1em;
		
	}
	
	#sidenav li a:hover {
		color : white;
		background-color : #666;
	}
	
	#sidenav li:hover ul ul, #sidenav li:hover ul ul ul, #sidenav li.sfhover ul ul, #nav li.sfhover ul ul ul {
		left: -999em;
}
	
	#sidenav li:hover ul, #sidenav li li:hover ul, #sidenav li li li:hover ul, #sidenav li.sfhover ul, #sidenav li li.sfhover ul, #sidenav li li li.sfhover ul { /* lists nested under hovered list items */
		left: auto;
}

